In [ ]:
# Import necessary modules

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno

plt.style.use('seaborn')

# **Load the Data**

In [ ]:
df = pd.read_csv('online_shoppers_intention.csv')

In [ ]:
# Check the shape of dataset

print(df.shape)

(12330, 18)

In [ ]:
# Information of data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [ ]:
# print data

df.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False

[5 rows x 18 columns]

# **Data Preprocessing**

## Checking for Null Values

In [ ]:
print(df.isnull().sum())

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

## Encoding of Categorical Data into Numeric Data

In [ ]:
# Month and VisitorType are Categorical Features

print(df.Month.unique())
print(df.VisitorType.unique())

['Feb' 'Mar' 'May' 'Oct' 'June' 'Jul' 'Aug' 'Nov' 'Sep' 'Dec']
['Returning_Visitor' 'New_Visitor' 'Other']

### Cyclical Feature Transformation - Month

In [ ]:
df['Month'] = df['Month'].replace(to_replace = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'Jul', 'Aug', 'Sep', 'Oct', 
                                  'Nov', 'Dec'], value = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [ ]:
df['Month_sin'] = np.sin((df['Month']-1)*(2.*np.pi/12))
df['Month_cos'] = np.cos((df['Month']-1)*(2.*np.pi/12))

In [ ]:
df.head()

   Administrative  Administrative_Duration  ...  Month_sin  Month_cos
0               0                      0.0  ...        0.5   0.866025
1               0                      0.0  ...        0.5   0.866025
2               0                      0.0  ...        0.5   0.866025
3               0                      0.0  ...        0.5   0.866025
4               0                      0.0  ...        0.5   0.866025

[5 rows x 20 columns]

### One Hot Encoding of Visitor Type

In [ ]:
# OneHotEncoding for VisitorTypes
from sklearn.preprocessing import OneHotEncoder

# Create Instance of OneHotEncoder
enc = OneHotEncoder(sparse=False)

visitor_types_df = pd.DataFrame(enc.fit_transform(df[['VisitorType']]))

# Merge with the main df
df = df.join(visitor_types_df)
df.head()

   Administrative  Administrative_Duration  Informational  ...    0    1    2
0               0                      0.0              0  ...  0.0  0.0  1.0
1               0                      0.0              0  ...  0.0  0.0  1.0
2               0                      0.0              0  ...  0.0  0.0  1.0
3               0                      0.0              0  ...  0.0  0.0  1.0
4               0                      0.0              0  ...  0.0  0.0  1.0

[5 rows x 23 columns]

In [ ]:
# Sort the Visitor type categories
visitor_types_sorted = np.sort(df['VisitorType'].unique())
print(visitor_types_sorted)

['New_Visitor' 'Other' 'Returning_Visitor']

In [ ]:
# Renaming the column names
# Column names are in alphabetical ascending order

df = df.rename(columns={0: "New_Visitor", 1: "Other", 2: "Returning_Visitor"})

In [ ]:
df.head()

   Administrative  Administrative_Duration  ...  Other  Returning_Visitor
0               0                      0.0  ...    0.0                1.0
1               0                      0.0  ...    0.0                1.0
2               0                      0.0  ...    0.0                1.0
3               0                      0.0  ...    0.0                1.0
4               0                      0.0  ...    0.0                1.0

[5 rows x 23 columns]

In [ ]:
# Drop the columns that have been encoded

df = df.drop(['Month'], axis=1)
df = df.drop(['VisitorType'], axis=1)

In [ ]:
# Converting boolean feature and label to numeric type
df['Weekend'] = df['Weekend'].astype('int')
df['Revenue'] = df['Revenue'].astype('int')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  OperatingSystems         12330 non-null  int64
 11  Browser                  12330 non-null  int64
 12  Region                   12330 non-null  int64
 13  TrafficType              12330 non-null  int64
 14  Weekend                  12330 non-null  int64
 15  Revenue                  12330 non-null  int64
 16  Month_sin                12330 non-null  float64
 17  Month_cos                12330 non-null  float64
 18  New_Visitor              12330 non-null  float64
 19  Other                    12330 non-null  float64
 20  Returning_Visitor        12330 non-null  float64
dtypes: float64(12), int64(9)
memory usage: 2.0 MB

# **Export the preprocessed Dataset to a csv file**

In [ ]:
df.to_csv('./processed_online_shoppers_intention.csv',index=False,header=True)